body {
    background: #3e3e3e;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

main {
    width: 50vw;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

main:hover .direction {
    opacity: 1;
}

main .direction {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    transition: all ease 0.5s;
}

main .direction .fa-solid {
    font-size: 4rem;
    opacity: 0.5;
    transition: ease 0.3s;
    cursor: pointer;
}

main .direction .fa-solid:hover {
    opacity: 0.6;
    color: red;
}

main .slider {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all;
}

main .slider .slide {
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


@media screen and (max-width:700px) {
    body {
        height: max-content;
    }

    main {
        width: 90vw;
    }
}